body {
    background-color: aqua;
    
}
a {
    text-decoration : none ;
    color:red;
    
}
.alcim{
    padding: 20px;
    background-color: red;
}
p {
    border-style: solid;
    border-color:blue;
    border-top-width: 10px;
    border-bottom-width: 10px;
    
}