body {
    background-color: aqua;
    
}
a {
    text-decoration : none ;
    color:red;
    
}
.alcim{
    padding: 20px;
    background-color: red;
}
div {
    border-style: solid;
    border-color:blue
}